@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Rubik+Wet+Paint&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Nunito", sans-serif;
}
.branding {
  font-family: "Rubik Wet Paint", cursive;
}
.screen-height {
  min-height: calc(100vh - 69px);
}

.text-after::after {
  content: "";
  top: 100%;
  left: 0;
  height: 3px;
  width: 80%;
  position: absolute;
  background: #ea580b;
}

.ocean_green {
  background-color: #a5eb00;
}
